services:
  - type: web
    name: portfolio-contact-api
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11
      - key: SENDER_EMAIL
        sync: false
      - key: SENDER_PASSWORD
        sync: false
      - key: RECIPIENT_EMAIL
        sync: false
      - key: ALLOWED_ORIGINS
        value: http://localhost:4200
